body {
  width: 200px;
}

#spoilers {
  list-style-type: none;
  padding: 5px;
}

#spoilers li {
  padding: 1em;
  margin: 0.25em;
  background: #CCC;
}


#spoilers span {
  margin-right: 10px;
}

#spoilers li.new {
  opacity: 0;
}

#searchWrap input:focus{
  outline: none;
}
