body {
  width: 200px;
  background-color: black;
}

#spoilers {
  list-style-type: none;
  padding: 5px 0px;
  li {
    position: relative;
    padding: 1em;
    margin: 0.25em;
    background-color: #ccc;
    border: 1px solid white;
    &.new {
      opacity: 0;
    }
    p {
      font-size: 14px;
      display: inline;
    }
    .count {
      position: absolute;
      right: 55px;
      top: 14px;
    }
    .delete {
      font-size: 16px;
      position: absolute;
      right: 12px;
      top: 9px;
    }
  }
  .empty-message {
    color: white;
    margin: 0 25px;
  }
}

#searchWrap {
  input {
    margin-top: 2px;
    &:focus {
      outline: none
    }
  }
  a.button {
    display: block;
    float: right;
    font-size: 10px;
    color: white;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 2px;
    background: black;
    padding: 3px 19px;
    margin-top: 0px;
  }
}

#emptyMessage {}
